<app-container>
  <header>
    <section class="cabecalho-link">
      <img src="./assets/imagens/logo.png" alt="">
    </section>
    <section class="cabecalho-contato">
      <img src="./assets/imagens/adicionar-contato.png" alt="">
      <h1>Adicionar contato</h1>
    </section>
  </header>

  <form>
    <label for="nome">Nome</label>
    <input type="text"
    id="nome"
    placeholder="Digite o nome do contato">

    <label for="telefone">Telefone</label>
    <input type="text"
    id="telefone"
    placeholder="Digite o telefone do contato">

    <label for="email">Email</label>
    <input type="email"
    id="email"
    placeholder="Digite o email do contato">

    <app-separador></app-separador>

    <label for="">Aniversário</label>
    <input type="date"
    id="aniversario"
    placeholder="Insira a data de nascimento">

    <label for="redes">Redes Sociais</label>
      <div class="input-container">
        <span class="span-http">http://</span>
        <input type="url"
              id="nome"
              placeholder="Adicione a URL da página">
        </div>

    <label for="observacoes">Observações</label>
    <textarea type="text" id=""
    cols="30" rows="10"
    placeholder="Coloque observações nesse espaço. Exemplo: “Instrutora da academia “Nova Imagem”, amiga da Júlia”."
    ></textarea>

    <section class="botoes">
      <button class="botao-cancelar" type="submit">Cancelar</button>
      <button class="botao-salvar" type="submit">Salvar contato</button>
    </section>

  </form>
</app-container>
