.cabecalho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid #0D6EFD;
  padding-bottom: 40px;
}

.titulo{
  color: #0D6EFD;
  text-align: center;
  font-family: "Zen Dots", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /*39px */
  margin: 0;
}

.titulo span {
  color: #FD9843;
}
